/* Section JFree Heading */

img {
    z-index: -0;
    width: 1255px;
    height: 100%;
    border-radius: 50px;
}
.nav {
    position: fixed;
}
.nav2{ 
    color: blue;
    font-size: 40px;
    margin-top: -10px;
    margin-left: 100px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav3 {
    color:green;
    font-size: 50px;
    margin-top: -40px;
    margin-left: 100px;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav img {
    width: 100px;
    margin-top: -155px;
    float: left;
}
.bar ul {
    list-style: none;
    clear: both;
    gap: 25px;
    display: inline-block;
}
.bar {
    border: solid navy;
    border-radius: 10px;
    background: skyblue;
    width: 100%;
    position: fixed; 
    display: block;
    height: 40px;
    padding-bottom: 40px;
    margin-top: 90px;
}

.bar ul li {
    display: inline-block;
    padding: 15px;
    background-color: green;
    color: rgb(157, 21, 21);
    border-radius: 25px;
    font-size: 15px;
    margin-left: 150px;
    font-weight: bold;
}


section .jfree {
    position: fixed;
}
.call {
    float: left;
    position: relative;
    margin-left: 70rem;
   
    border: solid black;
    border-radius: 20px;
    padding: 10px 30px;
    background: rgb(5, 149, 239);
    position: fixed;
    
}
.call a {
    color:white;
    text-transform: uppercase;
    font-family:fantasy;
}
.bar:hover {
    opacity: .5;
}

/* Section Board */
.board {
    width: 1000px;
    margin-top: 30px;
}
.nav1 nav {
    position: relative;
    height: 300px;
    top: 70px;
}
.nav1 img{
    width: 1260px;
    position:static;
}

.care p {
    position: fixed;
    padding: 30px;
    margin-top: -570px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(4, 4, 224); 
}

